<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booktruck">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchResult"></activity>
        <activity android:name=".SearchPage" />
        <activity android:name=".RequestManu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BorrowManu"
            android:label="Goto Borrow Manu"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewBook"
            android:label="Goto View Book"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".RecieveBook"
            android:label="Goto View Book"
            android:theme="@style/AppTheme" />

        <activity android:name=".MyBookList"/>
        <activity android:name=".CreateBook" />
    </application>

</manifest>